<a href="https://colab.research.google.com/github/nmdnaveenkumar/python-workshop/blob/master/day1_session2_workedexampls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 Write a program to print the triangle 
i/p  4

1
2    3
3    4   5
4    5   6   7

In [1]:
n = int(input('Enter the number'))
for i in range(n+1):
    for j in range(i):
        k=i+j
        print (k , end=" ")
    print('')

Enter the number10

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9
6 7 8 9 10 11
7 8 9 10 11 12 13
8 9 10 11 12 13 14 15
9 10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17 18 19

2 Enter number 4

*
* *
* * *
* * * *

In [2]:
n = int(input('Enter the number'))
for i in range(n+1):
    for j in range(i):
        print ('*' , end="")
    print('')

Enter the number7

*
**
***
****
*****
******
*******

3 Enter number 5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [3]:
n=5;
for i in range(n+1):
    k=n-i+1
    for j in range(i):
        print (k, end="")
        k=k+1
    print('')

5
45
345
2345
12345

4  Enter number 5

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [4]:
n=5;
for i in range(n+1):
    k=n-i
    for j in range(n-i):
        print (k, end="")
        k=k-1
    print('')
54321

54321
4321
321
21
1

54321

5 Enter number 4

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

In [5]:
n=4;
for i in range(n+1):
    k=i+1
    for j in range(n-i):
        print (k, end="")
        k=k+1
    if (i+1) != (n+1):
        print('')
for i in range(n-1):
    k=n-i-1
    for j in range(i+2):
        print (k, end="")
        k=k+1
    print('')

1234
234
34
4
34
234
1234

6 Find the length of a string without using len functions

In [6]:

string=input("Enter string:")
count=0
for i in string:
    count=count+1
print("Length of string is:")
print(count)

Enter string:naveen
Length of string is:
6

7 Find the no of words and characters in a string

In [7]:
string=input("Enter string:")
char=0
word=0
for i in string:
      if(i==' '):
            if(char!=0):
                  word=word+1
      char=char+1
if(char!=0):            
      word=word+1
print("Number of words is:")
print(word)
print("Number of characters is:")
print(char)

Enter string:python
Number of words is:
1
Number of characters is:
6

8 Find the no of occurrences of a word in a string

In [8]:
string1 = input("Enter string:")
string2 = input("Enter word:")
word = string1.split()
count = 0
for i in word:
   if i == string2:
      count=count+1
print(count)

Enter string:java
Enter word:v
0