<a href="https://colab.research.google.com/github/nmdnaveenkumar/python-workshop/blob/master/day2_session2_excersie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [1]:
dict={}
n=int(input("enter the no of students"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the marks"))
  dict[name]=marks
print(dict)
d1=dict.items()
sort=sorted(d1,reverse=True);
print("The sorted dictionary is")
print(sort)

enter the no of students4
Enter the nameviny
Enter the marks 50
Enter the name vidy
Enter the marks70
Enter the name uday
Enter the marks 35
Enter the name umesh
Enter the marks 45
{'viny': 50, ' vidy': 70, ' uday': 35, ' umesh': 45}
The sorted dictionary is
[('viny', 50), (' vidy', 70), (' umesh', 45), (' uday', 35)]

2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [2]:
dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
d1=dict.items()
sort=sorted(d1);
print("The sorted dictionary is")
print(sort)

enter the no of employees 4
Enter the name abc
Enter the salary2500
Enter the name xyz
Enter the salary 40000
Enter the name xyq
Enter the salary5000
Enter the name nmt
Enter the salary45000
{' abc': 2500, ' xyz': 40000, ' xyq': 5000, ' nmt': 45000}
The sorted dictionary is
[(' abc', 2500), (' nmt', 45000), (' xyq', 5000), (' xyz', 40000)]

3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [3]:
import statistics
dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
sort=sorted(dict.items(),key=lambda x:x[1]);
print("The sorted dictionary is")
print(sort)
print("The sum is")
print(sum(dict.values()))
print("the maximum is")
max_val=max(dict,key=dict.get)
print(max_val)
print("the minimum is")
min_val=min(dict,key=dict.get)
print(min_val)
 
mean= statistics.mean(dict.values()) 
 
print("The average of salary is",mean)

enter the no of employees 4
Enter the name a
Enter the salary 25
Enter the name b
Enter the salary 50
Enter the name c
Enter the salary 100
Enter the name z
Enter the salary150
{' a': 25, ' b': 50, ' c': 100, ' z': 150}
The sorted dictionary is
[(' a', 25), (' b', 50), (' c', 100), (' z', 150)]
The sum is
325
the maximum is
 z
the minimum is
 a
The average of salary is 81.25

4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [5]:

dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
res={key:val for key, val in dict.items() if val>2000 and val<4000}
print(res)

enter the no of employees4
Enter the name n
Enter the salary4000
Enter the name m
Enter the salary 2500
Enter the name t
Enter the salary2000
Enter the name s
Enter the salary1500
{' n': 4000, ' m': 2500, ' t': 2000, ' s': 1500}
{' m': 2500}

5.	Python program to convert a 3 digit number  into words

In [6]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred',200:'twohundred',300:'threehundred',400:'fourhundred',500:'fivehundred',600:'sixhundred',700:'sevenhundred',800:'eighthundred',900:'ninehundred'}
num=int(input("Enter the integer between 1 to 999:"))
if (num<=20):
      print(d[num])
if(num>20 and num<1000):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 999:99
ninty nine


1.Python Program to count the total number of charaters (except blank space) in a text file.

In [2]:
fname = input("Enter the name of the file:")
infile = open(fname, 'r')
lines = 0
words = 0
characters = 0
for line in infile:
    wordslist = line.split()
    lines = lines + 1
    words = words + len(wordslist)
    characters = characters + len(line)
print(characters)

Enter the name of the file:/content/sample_data/newfile1.txt
20

2.Python Program to print all the numbers present in a text file with its total number of occurrence

In [7]:
fname = input("Enter the name of the file:")
infile = open(fname, 'r')
content = infile.readlines() 
a = 0
for line in content: 
    for i in line:  
        if i.isdigit() == True: 
          a=a+1
print("The total numbers in a text file is:", a)

Enter the name of the file:/content/sample_data/newfile2.txt
The total numbers in a text file is: 0

3.Python Program to append the contents of one file to another file

In [8]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: /content/sample_data/newfile2.txt
Enter file to be appended to: /content/sample_data/newfile1.txt


4.Python Program to count the number of blank spaces in a text file.

In [9]:
fname = input("Enter file name: ")
k = 0

with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

Enter file name: /content/sample_data/newfile1.txt
Occurrences of blank spaces:
29

5.Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [10]:
fname = input("Enter file name: ")
with open(fname, 'r') as f:
    for line in f:
        l=line.title()
        print(l)

Enter file name: /content/sample_data/newfile2.txt
 I M Good

 I M Attending Python

 I M Bad